[Unit]
Description=checker-sender Bot
After=network.target

[Service]
EnvironmentFile=
ExecStart=/home/Userbot-WETH-BTC/venv/bin/python checker-sender.py
ExecReload=/home/Userbot-WETH-BTC/venv/bin/python checker-sender.py
WorkingDirectory=/home/Userbot-WETH-BTC/
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target