[Unit]
Description=userbot_monitoring
After=network.target

[Service]
EnvironmentFile=
ExecStart=/home/Userbot-WETH-BTC/venv/bin/python userbot_monitoring.py
ExecReload=/home/Userbot-WETH-BTC/venv/bin/python userbot_monitoring.py
WorkingDirectory=/home/Userbot-WETH-BTC/
KillMode=process
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target